primaryColor = #823ce2
fontColor = #555
fontColorLight = #aaa
bgColor = #fff
bgColorDark = #eee
linkColor = primaryColor
calloutColor = #823ce2

buffer = 12px
windowHeight = calc(100vh - 124px)
time = 1s

test()
  border 1px solid blue !important
  
transition()
  -webkit-transition all 0.33s cubic-bezier(0.4, 0, 0.2, 1)
  -moz-transition all 0.33s cubic-bezier(0.4, 0, 0.2, 1)
  -o-transition all 0.33s cubic-bezier(0.4, 0, 0.2, 1)
  transition all 0.33s cubic-bezier(0.4, 0, 0.2, 1)

transform(value)
  -webkit-transform value
  -moz-transform    value
  -ms-transform     value
  -o-transform      value
  transform         value

shadow()
  -webkit-box-shadow 0px 0px 52px 16px rgba(0,0,0,0.12)
  -moz-box-shadow 0px 0px 52px 16px rgba(0,0,0,0.12)
  box-shadow 0px 0px 52px 16px rgba(0,0,0,0.12)
  @media only screen and (max-width: 750px)
    -webkit-box-shadow 0px 0px 16px 4px rgba(0,0,0,0.08)
    -moz-box-shadow 0px 0px 16px 4px rgba(0,0,0,0.08)
    box-shadow 0px 0px 16px 4px rgba(0,0,0,0.08)

animation(value)
  -webkit-animation value
  -moz-animation    value
  -o-animation      value
  animation         value

*
  box-sizing border-box

p,div,h1,h2,h3,h4,h5,h6
  color fontColor  
  
h1,h2,h3, a
  font-weight 300

p, div
  font-weight 300

h1 
  font-size 60px
  line-height 90px
  @media only screen and (max-width: 750px)
    font-size 32px !important
    line-height 40px !important

html, body, #app, .appWrapper
  height 100%
  margin 0 !important
  background bgColor
  font-family "Work Sans", "Helvetica Neue", Helvetica, sans-serif
  font-weight 400

.content
  display block
  padding buffer*4 buffer*6
  
  @media only screen and (max-width: 750px)
    padding buffer*2 !important

.framedContent
  height windowHeight
  animation(fadeInUp time ease-in-out)

a
  text-decoration none
  color linkColor
  position relative
  &:after
    content ' '
    position absolute
    bottom 0
    left 0
    width 0%
    height 1px
    background primaryColor
    transition()
  &:hover
    &:after
      width 100%
      transition()

.secondary
  color #888

ul
  list-style-type none
  margin 0
  padding 0

.nav
  position relative
  z-index 1000
  background transparent
  padding buffer*4 buffer*6
  top 0
  left 0
  right 0
  .navTitle
    display inline-block
  .brand
    display inline-block
    color fontColor
    font-size 24px
    a
      border-bottom none 
      &:after
        height 0
  .navLinks
    float right
    display inline-block
    margin 0
    .navLink
      display inline-block
      padding-right buffer
      &:not(:first-of-type)
        padding-left buffer
      
  @media only screen and (max-width: 750px)
    padding buffer*2 buffer*3
    text-align center
    .brand
      font-size 18px
    .navTitle
      display block
    .navLinks
      margin-top buffer*2
      float none

.dividerLine
  display block
  height 3px
  width 40px
  background #ccc

.active
  border-bottom 3px solid calloutColor
  color calloutColor

.calloutText
  position relative
  border-bottom 3px solid alpha(calloutColor, .8)
  // &:after
  //   content ' '
  //   position absolute
  //   bottom 2px
  //   left 0px
  //   right 0px
  //   height 13px
  //   background alpha(calloutColor, .5)

a.button
  display inline-block
  transition()
  border 3px solid primaryColor
  padding buffer buffer*2
  cursor pointer
  &:after
    height 0

.calloutSection
  background primaryColor
  padding buffer*12 buffer*2
  color white
  text-align center
  height 100vh
  display flex
  align-items center
  justify-content center
  h1
    margin 0
  h1,h2,h3,h4,h5,h6,p,div,a,button
    color white
  a.button
    margin-top buffer*6
    border 3px solid white
    font-size 32px
    font-weight 100
    &:hover
      background white
      color primaryColor

.Home
  .homeContent
    position relative
    @media only screen and (max-width: 750px)
      padding-left 0
  .profilePhoto
    position absolute
    z-index 10
    right 0
    bottom 0
    width 50%
    opacity 1
    top -124px
    background-image linear-gradient(to right, alpha(primaryColor,.6), alpha(primaryColor,.4)), url('/images/adb_bg.jpg')
    // background-image url('/images/adb_bg.jpg')
    background-size cover
    background-position center
    animation(profilePhotoFadeIn 2s ease-in-out)
    @media only screen and (max-width: 750px)
      animation none
      left buffer*2
      right buffer*2
      top buffer
  .profileText
    animation(profileTextFadeIn 2s ease-in-out)
    overflow hidden
    position relative
    padding 0 buffer*3 0 buffer*6
    z-index 100
    width 50%
    display flex
    align-items center
    justify-content center
    height windowHeight
    a:after
      height 3px
    h1
      font-size 3vw
      line-height 4.5vw
      animation(profileTextColorIn 2s ease-in-out)
      &:first-of-type
        margin-top 0
    @media only screen and (max-width: 750px)
      animation none
      h1
        animation none
        font-size 24px !important
        line-height 36px !important
    
  .whatIDoSection
    position relative
    z-index 100
    background primaryColor
    padding buffer*4 0
    width 100%
    .whatIDoContent
      min-height 1000px
      display flex
      align-items center
      justify-content center
    h1, h2,h3,h4,h5,h6, div, p
      color white
      text-align center
    .whatIDoTitle
      margin-bottom buffer*8
    li
      display block
      transition()
      position relative
      .listTitle
        font-weight 400
        padding 0 buffer*2
        margin-top buffer
        margin-bottom buffer
      &:after
        content ' '
        height 7px
        width 7px
        background darken(primaryColor, 20%)
        border-radius 100%
        position absolute
        bottom -30px
        left 50%
      &.last
        &:after
          background primaryColor
          
      p
        color lighten(primaryColor, 70%)
        padding 0
        display block
        transition()
        &:last-of-type
          margin-bottom buffer*4
        img 
          height 20px
          width 20px
          position relative
          top 4px
          margin-right 4px
        .react
          padding 4px 6px
          background lighten(primaryColor, 20%)
          margin-right 4px
          border-radius 3px
      // &:hover
      //   p
      //     padding-bottom buffer*2
      //     opacity .8
      //     transition()
          
      
  
  @media only screen and (max-width: 900px)
    .profilePhoto
      width auto
      left buffer*3
      right buffer*3
      bottom buffer*3
      background-image linear-gradient(to right, alpha(white,.8), alpha(white,.8)), url('/images/adb_bg.jpg')
    .profileText
      margin-bottom 200px
      width auto
      padding 0 buffer*2
      h1
        font-size 24px
        line-height 40px
  @media only screen and (max-width: 750px)
    .profilePhoto
      left buffer*2
      right buffer*2
      bottom buffer*2
      background-image linear-gradient(to right, alpha(white,.8), alpha(white,.8)), url('/images/adb_bg.jpg')
    .profileText
      margin-bottom 0px
      width auto
      padding 0 buffer*4
      h1
        font-size 22px
        line-height 34px

.Process
  padding 48px 0 48px 72px
  .stepWrapper
    margin-top buffer*1.5
    margin-left 30px
    border-left 1px solid fontColorLight
    transition()
    h1, h2,h3,h4,h5,h6, div, p
      color fontColorLight
      transition()
    .stepNumber
      transition()
      border 1px solid fontColorLight  
    .stepTitle
      position relative
      left -30px
      top -30px
    .stepNumber
      background bgColor
      width 60px
      height 60px
      line-height 60px
      font-size 24px
      display inline-block
      border-radius 100px
      text-align center
    .stepName
      display inline-block
      margin-left buffer*4
    
    .stepContent
      padding 0 60px 60px 80px
    
    .processSteps
      list-style-type circle
      margin-left 18px
      .processStep
        margin-bottom buffer
      
    &:hover, &.activeStep
      transition()
      border-left 1px solid calloutColor
      h1, h2,h3,h4,h5,h6, div, p
        transition()
        color calloutColor
      .stepNumber
        transition()
        border 1px solid calloutColor    

.Work
  margin-bottom buffer*6
  &.WorkInner
    margin-bottom 0
  .workHeader
    font-size 60px
    text-align center
    margin-top buffer*6
    &.topHeader
      margin-top 0
    &.subHeader
      text-align center
      margin buffer*20 0 buffer*10 0
  .workCards
    max-width 700px
    margin 0 auto buffer*2 auto
    a
      &:after
        height 0
  .workCard    
    cursor pointer
    width 100%
    height 400px
    border 6px solid transparent
    display inline-block
    margin buffer*6 0
    position relative
    transition()
    &:after
      cursor pointer
      content " "
      background-image url("../images/workArrow.svg")
      background-size contain
      height 100px
      width 200px
      position absolute
      top calc(50% - 50px)
      left calc(50% - 100px)
      opacity 0
      transition()
    &:hover
      padding buffer*3
      cursor pointer
      &:after
        opacity 1
        transition()
      .logo
        transition()
        opacity 0
      transition()
      border 6px solid primaryColor
    .logo
      transition()
      height 100%
      background-repeat no-repeat
      background-size 300px
      background-position center center
      &.foodworksLogo
        background-image url("https://s3.amazonaws.com/homemade-images/logoFullWhite.svg")
        background-color #ef5442
      &.farmigoLogo
        background-image url("../images/logo_full_white.png")
        background-color #de7a34
      &.amicusLogo
        background-image url("../images/amicusLogo.png")
        background-color #001c3f
    @media only screen and (max-width: 600px)
      height 250px
      margin-top buffer*2
      margin-bottom 0
      .logo
        background-size 200px
  
  .coverWrapper
    height calc(100vh - 124px)
  .photoArea, .titleArea
    width 50%
    height 100%
  .photoArea
    animation(fadeInUp time ease-in-out)
    // background primaryColor
    // background-image linear-gradient(to right, alpha(white,.4), alpha(white,.4)), url('/images/makers.jpg')
    background-size cover
    position relative
    float left
    // border-right 1px solid primaryColor
    &:after 
      bottom 30px
      right -12px
      border solid transparent
      content " "
      height 0
      width 0
      position absolute
      pointer-events none
      border-color rgba(130, 60, 226, 0)
      border-top-color #823ce2
      border-width 12px
      margin-left -12px
      animation(bounce time infinite ease-in-out)
    &:before
      content " "
      position absolute
      bottom 50px
      right -2px
      height 36px
      width 4px
      background primaryColor
    .coverPhoto
      position absolute
      right -10%
      img
        shadow()
        border-radius 7px
      &.fwPhoto
        top calc(50% - 310px)
      &.farmigoPhoto
        top calc(50% - 250px)
        img
          width 854px
          height 500px
      &.amicusPhoto
        top calc(50% - 320px)
        img
          height 600px
  .titleArea
    animation(fadeInRight time ease-in-out)
    display flex
    align-items center
    justify-content center
    max-width 370px
    margin 0 auto
    .dividerLine
      margin buffer*2 0
    .titleAreaContent
      position relative
      left 5%
    li
      margin-bottom buffer
    .workHeader
      font-size 64px
      color primaryColor
      text-align left
      margin-top 0
    .workLink
      margin-top buffer
    .workSubtitle
      margin-top (buffer/2)
    .workSubtitle, li
      color #888
      
  .workShowcase
    // background #f3f3f3
    padding buffer*4 buffer*6
    display block
    text-align center
    h1
      margin buffer*8 0 buffer*14 0
    .subWorkHeader
      margin-bottom buffer*12
      img
        height 70px
        width 70px
        margin-bottom buffer*4
    .workShowcaseImage
      display block
      margin 0 auto
      img, video
        margin buffer*6 auto buffer*3 auto
        max-width 900px
        border-radius 6px
        display block
        shadow()
      &.callToolVideo
        overflow hidden
        max-width 1000px
        shadow()
        video
          width 100%
          margin-top -51px
          margin-bottom -5px
      &.homepageVideo
        max-width 1000px
        shadow()
        video
          margin-top 0
          width 100%
          margin-bottom -1%
    .workShowcaseDescription
      margin buffer*6 auto buffer*20 auto
      line-height 30px
      max-width 800px  
    h2
      margin buffer auto buffer*8 auto
      display block
      max-width 800px 
      line-height 42px
    p
      display block
      max-width 800px 
      line-height 30px
      margin buffer*2 auto
    .animationImage
      margin buffer*12 0
    .workContext
      padding buffer*8 0
      margin 0 auto buffer*12 auto
      border-bottom 1px solid #eee
      display block
      max-width 800px
      h2
        margin-bottom buffer*3
      img
        max-width 100px
        margin buffer*4 0
      ul.functions
        margin buffer*8 0
        li
          margin-bottom buffer*2
          padding buffer*2
        .label
          position relative
          &:after
            content ' '
            background primaryColor
            width 40px
            height 3px
            position absolute
            bottom -16px
            left calc(50% - 20px)
    .workWrapupStatement
      border-top 1px solid #eee
      border-bottom none

    @media only screen and (max-width: 750px)
      padding buffer*2
      h1
        margin-bottom buffer*2
      .workShowcaseDescription
        margin buffer*2 0
      .workShowcaseImage
        img
          width 100% !important
        &.callToolVideo
          video
            margin-top 0px
            margin-bottom 0px
        &.homepageVideo
          video
            margin-top 0px
            margin-bottom 0px
          
  @media only screen and (max-width: 700px)
    .coverWrapper
      height auto
    .photoArea
      width 100%
      background-size contain
      float none
      .glassPane
        position absolute
        top 0
        left 0
        right 0
        bottom 4px
        background alpha(primaryColor, .85)
        z-index 20
      .coverPhoto
        position relative
        right 0
        z-index 10
        img
          max-height 500px
          max-width 250% !important
    .titleArea
      width 100%
      height auto
      position absolute
      top 130px
      margin buffer
      z-index 30
      display block
      .titleAreaContent
        width calc(100% - 48px)
      .workHeader
        font-size 32px
        margin-left 0
        color white
      p.secondary, .workSubtitle, ul li, a
        color white
      a
        font-weight 600

// .farmigoWork 
//   .workHeader
//     color #de7509 !important
//   .photoArea:before
//     background #de7509 !important
//   .photoArea:after
//     border-top-color #de7509 !important
//   .calloutText
//     border-bottom 6px solid #de7509
//   .calloutSection
//     background-color #de7509
// .foodworksWork
//   .workHeader, a
//     color #ef5442 !important
//   .photoArea:before
//     background #ef5442 !important
//   .photoArea:after
//     border-top-color #ef5442 !important
//   .calloutText
//     border-bottom 6px solid #ef5442
//   .calloutSection
//     background-color #ef5442

.Contact
  .contactOption
    margin-bottom buffer

// MIXINS

// Columns
// ex .column-4 === width 25%
generate-column()
  for n, x in 1..12
    .column-{x}
      display inline-block
      vertical-align top
      width (100% / x)
      &.center
        margin-left: ((100% / x)/ 2);
        @media only screen and (max-width: 600px)
          margin-left 0 
      &.first
        padding-left 0
        @media only screen and (max-width: 600px)
          padding-left (buffer/2)
      &.last
        padding-right 0
        @media only screen and (max-width: 600px)
          padding-right (buffer/2) 
      @media only screen and (max-width: 600px)
        width 100%

// ex .column-5-3 === width 60% 
// ex .column-5-2 === width 40%
generate-column-fill()
  for n, x in 1..12
    for n, y in 1..x
      .column-{x}-{y}
        display inline-block
        vertical-align top
        width (100% / x) * y
        @media only screen and (max-width: 600px)
          width 100%
            
        
// ex .column-5-offset-2
generate-column-offset()
  for n, x in 1..12
    for n, y in 1..x
      .column-{x}-offset-{y + 1}
        display inline-block
        vertical-align top
        margin-left (100% / x) * y
        width (100% / x)
        @media only screen and (max-width: 600px)
          width 100%
          margin-left 0
        

generate-column()
generate-column-fill()
generate-column-offset()


// KEYFRAMES

@-webkit-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate3d(0,10px,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}
@-moz-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate3d(0,10px,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}
@-o-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate3d(0,10px,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}
@keyframes fadeInUp {
  0%   { opacity: 0; transform: translate3d(0,10px,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}

@-webkit-keyframes fadeInRight {
  0%   { opacity: 0; transform: translate3d(20px,0,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}
@-moz-keyframes fadeInRight {
  0%   { opacity: 0; transform: translate3d(20px,0,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}
@-o-keyframes fadeInRight {
  0%   { opacity: 0; transform: translate3d(20px,0,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}
@keyframes fadeInRight {
  0%   { opacity: 0; transform: translate3d(20px,0,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}

@keyframes bounce {
  0% { transform: translate3d(0,0px,0) };
  70% { transform: translate3d(0,-6px,0) };
  100% { transform: translate3d(0,0px,0) };
}


@-webkit-keyframes profilePhotoFadeIn {
  0%   { opacity: 0; width: 100%; }
  50%   { opacity: .8; width: 98%; }
  100%   { opacity: 1; width: 50%; }
}
@-moz-keyframes profilePhotoFadeIn {
  0%   { opacity: 0; width: 100%; }
  50%   { opacity: .8; width: 98%; }
  100%   { opacity: 1; width: 50%; }
}
@-o-keyframes profilePhotoFadeIn {
  0%   { opacity: 0; width: 100%; }
  50%   { opacity: .8; width: 98%; }
  100%   { opacity: 1; width: 50%; }
}
@keyframes profilePhotoFadeIn {
  0%   { opacity: 0; width: 100%; }
  50%   { opacity: .8; width: 98%; }
  100%   { opacity: 1; width: 50%; }
}

@-webkit-keyframes profileTextFadeIn {
  0%   { opacity: 0; transform: translate3d(-20px,0,0); }
  50%   { opacity: 1; transform: translate3d(-20px,0,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}
@-moz-keyframes profileTextFadeIn {
  0%   { opacity: 0; transform: translate3d(-20px,0,0); }
  50%   { opacity: 1; transform: translate3d(-20px,0,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}
@-o-keyframes profileTextFadeIn {
  0%   { opacity: 0; transform: translate3d(-20px,0,0); }
  50%   { opacity: 1; transform: translate3d(-20px,0,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}
@keyframes profileTextFadeIn {
  0%   { opacity: 0; transform: translate3d(-20px,0,0); }
  50%   { opacity: 1; transform: translate3d(-20px,0,0); }
  100% { opacity: 1; transform: translate3d(0,0px,0); }
}

@-webkit-keyframes profileTextColorIn {
  0%   { color: white; }
  50%   { color: white; }
  100% { color: #555; }
}
@-moz-keyframes profileTextColorIn {
  0%   { color: white; }
  50%   { color: white; }
  100% { color: #555; }
}
@-o-keyframes profileTextColorIn {
  0%   { color: white; }
  50%   { color: white; }
  100% { color: #555; }
}
@keyframes profileTextColorIn {
  0%   { color: white; }
  50%   { color: white; }
  100% { color: #555; }
}


@-webkit-keyframes backgroundPan {
  0% { background-position: center left 0%; }
  50% { background-position: center left 50%; }
  100% { background-position: center left 0%; }
}
@-moz-keyframes backgroundPan {
  0% { background-position: center left 0%; }
  50% { background-position: center left 50%; }
  100% { background-position: center left 0%; }
}
@-o-keyframes backgroundPan {
  0% { background-position: center left 0%; }
  50% { background-position: center left 50%; }
  100% { background-position: center left 0%; }
}
@keyframes backgroundPan {
  0% { background-position: center left 0%; }
  50% { background-position: center left 50%; }
  100% { background-position: center left 0%; }
}